<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>

    <style media="screen">
      #quoteCard {
        background-image: url("<%= backgroundURL %>");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: relative;
      }

      #quoteCard::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.50);
        ;
      }

      .card-title,
      .blockquote,
      .blockquote-footer {
        position: relative;
      }

      #activityView {
        max-height: 300px;
        overflow-y: scroll;
      }
    </style>

    <main>
      <div class="container bg-light p-5">
        <div class="row mb-5">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>Welcome, <%= user.firstname %>!</h1>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <div id="quoteCard" class="card">
              <div class="card-body text-center text-white">
                <h5 class="card-title mb-5">Your Daily Quote</h5>
                <figure>
                  <blockquote class="blockquote">
                    &ldquo;<%= dailyQuote[0].q %>&rdquo;
                  </blockquote>
                  <figcaption class="blockquote-footer text-white">
                    <cite title="Source Title">
                      <%= dailyQuote[0].a %>
                    </cite>
                  </figcaption>
                </figure>
                <h5></h5>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <%- include('partials/currentChallenge.ejs') %>
            </div>
          </div>
        </div>
      </div>

      <div id="activityView" class="container">
        <div class="container p-5">
          <div class="row mb-5 text-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h3>Previous Challenges</h3>
            </div>
          </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Challenge Name</th>
              <th scope="col">Challenge Length</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Days Completed</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i=0; i < previousChallenge.length; i++) { %>
              <tr>
                <th scope="row">
                  <%= i+1%>
                </th>
                <td>
                  <%= previousChallenge[i].challengeName %>
                </td>
                <td>
                  <%= previousChallenge[i].challengeLength %>
                </td>
                <td>
                  <%= previousChallenge[i].dateStarted %>
                </td>
                <td>
                  <%= previousChallenge[i].actualEndDate %>
                </td>
                <td>
                  <%= previousChallenge[i].daysCompleted %>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>