<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>
    <style>
      
      body {
        background-color: #eee;
        overflow-y: hidden;
        height: 90%;
      }

      #feed {
        overflow-y: scroll;
      }

      #sidebar {
        margin-bottom: 4.5rem;
      }

      .time {
        font-size: 14px !important
      }

      .socials i {
        margin-right: 14px;
        font-size: 20px;
        cursor: pointer
      }

      .feed-image img {
        width: 100%;
        height: auto
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .card-link {
        display: none;
      }

      .card-footer {
        padding: 0;
      }

      #quoteCard {
        background-image: url("<%= backgroundURL %>");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }

      #quoteCard::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        ;
      }

      .card-title,
      .blockquote,
      .blockquote-footer {
        position: relative;
      }

      main {
        overflow-y: hidden;
      }

      img.rounded-circle {
        margin-right: 10px;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="/style/sidebars.css" rel="stylesheet">

    <main>
      <div class="b-example-divider"></div>

      <div id="sidebar" class="flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <ul class="list-unstyled ps-0">
          <h5 class="my-3 text-default text-center">
            <img class="rounded-circle" src="/img/core/user.png" width="45" />
            Welcome, <%= user.firstname %>!
          </h5>

          <li class="my-3">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class=""><a class="text-decoration-none text-black" href="#">Followers</a>
                  </div>
                  <!-- <a class="btn btn-primary" href="/api/stream/subscribe?userid=2">Subscribe</a> -->
                </div>
                <span class="badge bg-primary rounded-pill">
                  <%= followStats.followers.count %>
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="">
                    <a class="text-decoration-none text-black" href="#">Following</a>
                  </div>
                </div>
                <span class="badge bg-primary rounded-pill">
                  <%= followStats.following.count %>
                </span>
              </li>
            </ul>
          </li>

          <li class="my-3">
            <div id="quoteCard" class="card">
              <div class="card-body text-center text-white">
                <h6 class="card-title">Your Daily Quote</h6>
                <figure>
                  <blockquote class="blockquote">
                    &ldquo;<%= dailyQuote[0].q %>&rdquo;
                  </blockquote>
                  <figcaption class="blockquote-footer">
                    <cite title="Source Title">
                      <%= dailyQuote[0].a %>
                    </cite>
                  </figcaption>
                </figure>
                <h5></h5>
              </div>
            </div>
          </li>

          <li class="my-3">
            <%- include('partials/currentChallenge.ejs') %>
          </li>
        </ul>
      </div>

      <div id="feed" class="container mt-4 mb-5">
        <div class="d-flex justify-content-center row">
          <div class="col-md-10">
            <div class="feed p-2">
              <form action="/api/stream/add" method="post"
                class="d-flex flex-row justify-content-between align-items-right p-3 bg-white border row">
                <div class="col-10">
                  <input name="post" id="post" class="feed-text px-2 form-control" placeholder="What's on your mind" required/>
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </div>

            <% for (let i=0; i < feed.length; i++) { %>
              <div id="<%= feed[i].id %>" class="bg-white border mt-2">
                <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                  <div class="d-flex flex-row align-items-center feed-text px-2">
                    <% if (feed[i].actor === "Amber Beebe") { %>
                      <img class="rounded-circle" src="/img/tmp/me.jpg" width="45" />
                    <% } else { %>
                      <img class="rounded-circle" src="/img/core/user.png" width="45" />
                    <% } %>

                    <div class="d-flex flex-column flex-wrap ml-5">
                      <span class="font-weight-bold">
                        <%= feed[i].actor %>
                      </span>
                      <span class="text-black-50 time">
                        <%= new Date(feed[i].time).toLocaleDateString() %>
                      </span>
                    </div>
                  </div>
                  <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                </div>
                <div class="p-2 px-3"><span>
                  <% if (feed[i].verb === "journal") { %>
                    Logged a journal entry!
                  <% } else if (feed[i].verb === "challenge") { %>
                    Started a new Challenge!
                  <% } else  { %>
                    <%= feed[i].message %>
                  <% } %>
                  </span></div>
                <div class="d-flex socials p-2 px-3 py-3 text-primary"><i id="<%= feed[i].id %>" class="far fa-thumbs-up"></i>
                  <%- (feed[i].reaction_counts.length===0)? 0 : feed[i].reaction_counts.like %> likes
                </div>
              </div>
              <% } %>

          </div>
        </div>
      </div>
    </main>
    <script>
      $(".fa-thumbs-up").on("click", async function(e) {
        let id = e.target.id;
        if($(this).hasClass("far")) {
          $(this).removeClass("far");
          $(this).addClass("fas");
          await fetch(`/api/stream/reaction?type=like&activityId=${id}`);
        } else {
          $(this).addClass("far");
          $(this).removeClass("fas");
          await fetch(`/api/stream/reaction?type=unlike&activityId=${id}`);
        }
      });
    </script>

    <script src="/js/sidebars.js"></script>

    <%- include('partials/footer.ejs') %>