<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>

        <!-- custom style for sign in component -->
        <link href="/style/journal.css" rel="stylesheet">
        <main>

            <div class="container p-5">
                <div class="row mb-5 justify-content-md-center">
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        
                        <div id="journalContent">
                            <div class="d-flex align-items-center flex-shrink-0 mb-3">
                                <h5 class="flex-grow-1 fw-semibold">Previous Entries</h5>
                                <button id="newEntryBtn" type="button" class="btn btn-outline-secondary btn-md">New
                                    Entry</button>

                            </div>

                            <div class="accordion" id="accordionExample">
                                <% for (let i=0; i < allJournalEntries.length; i++) { %>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="cardHeading_<%= i %>">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#cardBody_<%= i %>" aria-expanded="false"
                                                aria-controls="cardBody_<%= i %>">
                                                <%= allJournalEntries[i].activityDate %>
                                            </button>
                                        </h2>
                                        <div id="cardBody_<%= i %>" class="accordion-collapse collapse"
                                            aria-labelledby="cardHeading_<%= i %>" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <h3>
                                                    <%= allJournalEntries[i].activityTitle %>
                                                </h3>
                                                <%= allJournalEntries[i].activityDescription %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>

                        <div id="newEntryForm" class="hidden">

                            <% if (currentChallenge.length===0) { %>
                                <h4 class="text-center mb-5 text-muted">
                                    You must have an active challenge to create a journal entry!
                                </h4>
                                <div class="mb-3 text-center">
                                    <a href="/createChallenge" class="btn btn-primary btn-md">Create Challenge</a>
                                </div>
                                <% } else { %>
                                    <h3 class="mb-3 text-center">New Journal Entry</h3>
                                    <form action="/createJournalEntry" method="POST">
                                        <input class="hidden" name="challengeid"
                                            value="<%= currentChallenge[0].id %>"></label>
                                        <div class="d-flex flex-row align-items-center mb-5">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label for="name" class="form-label">Entry Title</label>
                                                <input type="text" class="form-control" id="name" name="name"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-5">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">

                                                <label class="form-label align-self-center mb-3">How do you feel
                                                    today?</label>

                                                <div class="form-check">
                                                    <div class="row text-center">
                                                        <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-xs-12">
                                                            <input type="checkbox" name="content" class="hidden"
                                                                id="content">
                                                            <label class="form-check-label mb-3" for="content">
                                                                <img class="img-fluid" src="/img/emotions/smile.png"
                                                                    alt="content">
                                                            </label>
                                                            <p>Content</p>
                                                        </div>
                                                        <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-xs-12">
                                                            <input type="checkbox" name="happy" class="hidden"
                                                                id="happy">
                                                            <label class="form-check-label mb-3" for="happy">
                                                                <img class="img-fluid" src="/img/emotions/happy.png"
                                                                    alt="happy">
                                                            </label>
                                                            <p>Happy</p>
                                                        </div>
                                                        <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-xs-12">
                                                            <input type="checkbox" name="sad" class="hidden"
                                                                id="sad">
                                                            <label class="form-check-label mb-3" for="sad">
                                                                <img class="img-fluid" src="/img/emotions/sad.png"
                                                                    alt="sad">
                                                            </label>
                                                            <p>Sad</p>
                                                        </div>
                                                        <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-xs-12">

                                                            <input type="checkbox" name="sceptic" class="hidden"
                                                                id="sceptic">
                                                            <label class="form-check-label mb-3" for="sceptic">
                                                                <img class="img-fluid"
                                                                    src="/img/emotions/sceptic.png" alt="sceptic">
                                                            </label>
                                                            <p>Cravings</p>
                                                        </div>

                                                        <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-xs-12">
                                                            <input type="checkbox" name="shocked" class="hidden"
                                                                id="shocked">
                                                            <label class="form-check-label mb-3" for="shocked">
                                                                <img class="img-fluid"
                                                                    src="/img/emotions/shocked.png" alt="shocked">
                                                            </label>
                                                            <p>Overwhelmed</p>
                                                        </div>

                                                        <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-xs-12">
                                                            <input type="checkbox" name="yawn" class="hidden"
                                                                id="yawn">
                                                            <label class="form-check-label mb-3" for="yawn">
                                                                <img class="img-fluid" src="/img/emotions/yawn.png"
                                                                    alt="yawn">
                                                            </label>
                                                            <p>Tired</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-5">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label for="description" class="form-label">Thoughts, feelings,
                                                    etc.!</label>
                                                <textarea id="description" class="form-control" rows="6"
                                                    maxlength="255" name="description"></textarea>
                                            </div>
                                        </div>

                                        <div class="mb-3 justify-content-center">
                                            <button type="submit" journal_btn"
                                                class="btn btn-primary btn-md">Add</button>
                                            <button id="cancel_btn" class="btn btn-danger btn-md">Cancel</button>
                                        </div>
                                    </form>
                                    <% } %>
                        </div>

                    </div>
                </div>
        </main>

        <script src="/js/journal.js"></script>
        <%- include('partials/footer.ejs') %>